body {
    font-family: 'Arial', sans-serif;
    background-color: #dbdbdb;
    color: #0e0e0e;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    color: #383838;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 18px;
    width: 120px;
    text-transform: uppercase;
    text-align: center;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: #1f1f1f;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    margin-left: 10px;
    background-color: #538d4e;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 24px;
    letter-spacing: 5px;
}

.correct {
    background-color: #538d4e;
    color: white;
    padding: 10px;
    margin: 2px;
    display: inline-block;
    width: 40px;
    border-radius: 5px;
}

.partial {
    background-color: #b59f3b; 
    color: white;
    padding: 10px;
    margin: 2px;
    display: inline-block;
    width: 40px;
    border-radius: 5px;
}

.incorrect {
    background-color: #3a3a3c; 
    color: white;
    padding: 10px;
    margin: 2px;
    display: inline-block;
    width: 40px;
    border-radius: 5px;
}

a {
    color: #0277ec;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

.flash-message {
    background-color: #444;
    padding: 10px;
    margin: 10px auto;
    width: fit-content;
    border-radius: 5px;
    font-size: 18px;
}

.keyboard {
    margin-top: 30px;
    display: inline-block;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.key {
    width: 50px;
    height: 50px;
    margin: 3px;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #818384; 
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.key.correct {
    background-color: #538d4e;
}

.key.partial {
    background-color: #b59f3b;
}

.key.incorrect {
    background-color: #3a3a3c;
}
