<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Admin Panel</title>
</head>
<body>
    <h1>u can add words here</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="POST">
        <input type="text" name="word" maxlength="5" required>
        <input type="submit" value="Add Word">
    </form>

    <h2>existing words:</h2>
    <ul>
        {% for word in words %}
            <li>{{ word.text }} <a href="{{ url_for('delete_word', word_id=word.id) }}">Delete</a></li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('index') }}">Go backs</a>
</body>
</html>
